#first-screen {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10%;
}
.content {
  width: 30%;
  text-align: center;
}
.content p {
  line-height: 1.5rem;
}
.content h1 {
  font-weight: bolder;
}
#image {
  width: 30%;
  background-color: #9cb5c590;
  border-radius: 50%;
  margin-left: 0.5rem;
  box-shadow: 5px 5px 5px 5px #14354b8b;
}
#image img {
  height: 25rem;
  width: 25rem;
  border-bottom-right-radius: 40%;
}

.pushable {
  background: #5688a9;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  box-shadow: 2px 2px 2px #3a7094ad;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #1a3242;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
